body {
    background: #FFFFFF;
    font-family: 'Montserrat bold', sans-serif;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    list-style-type: none;
    margin: 25px 0 25px 0;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    color: #F00;
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    line-height: 27px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    margin: 0 36px 0 36px;
}

.content {
    display: flex;
    flex-direction: column;
}

.phone-bg {
    background-image:url("phone.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 789px;
    width: 100%;
} 

.title {
    margin: 48px 0 10px 0;
    text-align: center;
    color: #373737;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
}

.text {
    margin: 28px 0;
    color: #373737;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 2.4px; 
}

.btn {
    color: #FFFFFF;
    background-color: #FF0000;
    border-radius: 4px;
    text-align: center;
    margin: 66px auto 42px auto;
    padding: 18px 43px;
    border: 0;
} 

footer .container {
    justify-content: flex-end;
}

.footer-content {
    margin: 40px 67px 29px 67px;
}

.footer-text {
    color: #373737;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.4px;
    text-align: right;
}